!Xft.dpi:       128
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.autohint:   false
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

!Custom
! Do not clear the screen after the program exits
XTerm*VT100*titeInhibit:      true
XTerm*highlightSelection:     true
! Do not copy trailing spaces
XTerm*TrimSelection:          true
XTerm*saveLines:              2400
XTerm.vt100.scrollBar:        true
XTerm.VT100.rightScrollBar:   true
XTerm.vt100.scrollbar.width:  8
! Allow sixel graphics. (Try: "convert -colors 16 foo.jpg sixel:-").
xterm*decTerminalID	:	      vt340
XTerm.vt100.font:             7x13
XTerm.vt100.faceName:         Noto Mono:size=9
XTerm.vt100.bellIsUrgent:     true
XTerm.vt100.metaSendsEscape:  true
*VT100*translations:          #override Shift <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)
!rofi*fg: myfg
!rofi*bg: mybg

! Theming
#define myfg      grey
#define mybg      black
#define myfont    Noto Mono
XTerm.termName:               xterm-256color
XTerm*colorMode:              on
XTerm.vt100.reverseVideo:     true
!XTerm*background:             mybg
!XTerm*foreground:             myfg
